* {
    border: none;
    font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background: rgba(43, 48, 59, 0.5);
    color: #ffffff;
}

